<h6>Listados de Catorias</h6>
<div class="row">
  <div class="col-12">
    <button
      class="btn btn-primary createTask float-end"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#createTask"
      (click)="openModal(content)"
    >
      <i class="ri-add-fill align-bottom"></i> Nueva
    </button>
  </div>
</div>
<div class="table-responsive" *ngIf="!loading">
  <table class="table align-middle table-nowrap mb-0">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Código</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Categoria</th>
        <th scope="col">Precio con IVA</th>
        <th scope="col">Precio sin IVA</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listado">
        <th scope="row">{{ item.id_catalogo }}</th>
        <th scope="row">{{ item.codigo }}</th>
        <th scope="row">{{ item.nombre }}</th>
        <th scope="row">{{ item.Tipo.nombre }}</th>
        <th scope="row">{{ item.Categorias.nombre }}</th>
        <th scope="row">{{ item.precio_con_iva | currency }}</th>
        <th scope="row">{{ item.precio_sin_iva | currency }}</th>
        <td class="hstack gap-2">
          <!-- Buttons Group -->
          <button
            type="button"
            class="btn btn-warning waves-effect waves-light"
            (click)="editarRegistro(content, item.id_catalogo)"
          >
            <i class="ri-pencil-fill"></i>
          </button>
          <button
            type="button"
            class="btn btn-danger btn-icon waves-effect waves-light"
            (click)="eliminar(item.id_catalogo)"
          >
            <i class="ri-delete-bin-5-line"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row" *ngIf="loading">
  <div class="col-12 text-center">
    <br />
    <br />
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<!-- Add Todo Data -->
<ng-template #content role="document" let-modal>
  <div class="modal-header p-3 bg-soft-success">
    <h5 class="modal-title" id="createTaskLabel">Catalogo</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      id="createTaskBtn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div id="task-error-msg" class="alert alert-danger py-2"></div>
    <form
      autocomplete="off"
      action=""
      id="creattask-form"
      (ngSubmit)="saveTodo()"
      [formGroup]="todoForm"
    >
      <input type="hidden" id="taskid-input" class="form-control" />

      <div class="mb-3">
        <label for="nombre-input" class="form-label">Codigo</label>
        <input
          type="text"
          id="codigo-input"
          class="form-control"
          placeholder="Ingrese un codigo"
          formControlName="codigo"
          [ngClass]="{ 'is-invalid': submitted && form['codigo'].errors }"
        />
        <div
          *ngIf="submitted && form['codigo'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="form['codigo'].errors['required']">
            El codigo es requerido
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="nombre-input" class="form-label">Nombre</label>
        <input
          type="text"
          id="nombre-input"
          class="form-control"
          placeholder="Ingrese un nombre"
          formControlName="nombre"
          [ngClass]="{ 'is-invalid': submitted && form['nombre'].errors }"
        />
        <div
          *ngIf="submitted && form['nombre'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="form['nombre'].errors['required']">
            El nombre es requerido
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="nombre-input" class="form-label">Descripcion</label>
        <input
          type="text"
          id="descripcion-input"
          class="form-control"
          placeholder="Ingrese una descripcion"
          formControlName="descripcion"
          [ngClass]="{ 'is-invalid': submitted && form['descripcion'].errors }"
        />
        <div
          *ngIf="submitted && form['descripcion'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="form['descripcion'].errors['required']">
            La descripcion es requerida
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="categoria-input" class="form-label">Categoria</label>
        <select
          class="form-control"
          data-choices
          data-choices-search-false
          id="categoria-input"
          formControlName="id_categoria"
          [ngClass]="{ 'is-invalid': submitted && form['id_categoria'].errors }"
        >
          <option value="">Seleccione</option>
          <option
            *ngFor="let item of listadoCate"
            value="{{ item.id_categoria }}"
          >
            {{ item.nombre }}
          </option>
        </select>
        <div
          *ngIf="submitted && form['id_categoria'].errors"
          class="invalid-feedback"
          align="left"
        >
          <div *ngIf="form['id_categoria'].errors['required']">
            Categoria es requerido
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="tipo-input" class="form-label">Tipo</label>
        <select
          class="form-control"
          data-choices
          data-choices-search-false
          id="tipo-input"
          formControlName="id_tipo"
          [ngClass]="{ 'is-invalid': submitted && form['id_tipo'].errors }"
        >
          <option value="">Seleccione</option>
          <option *ngFor="let item of listadoTipo" value="{{ item.id_tipo }}">
            {{ item.nombre }}
          </option>
        </select>
        <div
          *ngIf="submitted && form['id_tipo'].errors"
          class="invalid-feedback"
          align="left"
        >
          <div *ngIf="form['id_tipo'].errors['required']">
            Tipo es requerido
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-6">
          <label for="nombre-input" class="form-label">Precio con IVA</label>
          <input
            type="number"
            id="precio-input"
            class="form-control"
            placeholder="Ingrese un precio"
            formControlName="precio_con_iva"
            [ngClass]="{ 'is-invalid': submitted && form['precio_con_iva'].errors }"
            (keyup)="saverange()"
          />
          <div
            *ngIf="submitted && form['precio_con_iva'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="form['precio_con_iva'].errors['required']">
              El precio es requerida
            </div>
          </div>
        </div>

        <div class="col-6">
          <label for="nombre-input" class="form-label">Precio sin IVA</label>
          <input
            type="number"
            id="precio-input"
            class="form-control"
            placeholder="Ingrese un precio"
            formControlName="precio_sin_iva"
            [ngClass]="{ 'is-invalid': submitted && form['precio_sin_iva'].errors }"
            (keyup)="saverange()"
          />
          <div
            *ngIf="submitted && form['precio_sin_iva'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="form['precio_sin_iva'].errors['required']">
              El precio es requerida
            </div>
          </div>
        </div>
      </div>

      <div class="hstack gap-2 justify-content-end">
        <button
          type="button"
          class="btn btn-ghost-success"
          data-bs-dismiss="modal"
          (click)="modal.dismiss('Cross click')"
        >
          <i class="ri-close-fill align-bottom"></i> Cancelar
        </button>
        <button type="submit" class="btn btn-primary" id="addNewTodo">
          Guardar
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- end auth-page-wrapper -->
<app-toasts-admin aria-live="polite" aria-atomic="true"></app-toasts-admin>
